<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Sibiryak54-test</a>
        <span class="navbar-text">
            test project
        </span>
    </div>
</nav>
